---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R822513730","referenceCode":"R822513730","companyCode":"test1","date":"2026-05-07","customerCode":"milissa@wuckertkertzmann.name","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":4,"amount":"40.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Product
        176398","itemCode":"SKU-17"},{"number":"LI-be393e03-c530-4d31-bea7-f01b39496568","quantity":3,"amount":"30.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Product
        1826","itemCode":"SKU-18"},{"number":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","quantity":1,"amount":"5.0","taxCode":"FR","discounted":false,"addresses":{},"taxIncluded":false}],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R822513730","entityUseCode":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/848107/transactions/0"
      X-Correlation-Id:
      - 959ac7e1-8806-4093-a900-87d4cb881202
      X-Avalara-Uid:
      - 959ac7e1-8806-4093-a900-87d4cb881202
      Serverduration:
      - '00:00:00.0114778'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"id":0,"code":"R822513730","companyId":848107,"date":"2026-05-07","paymentDate":"2026-05-07","status":"Temporary","type":"SalesOrder","batchCode":"","currencyCode":"USD","exchangeRateCurrencyCode":"USD","customerUsageType":"","entityUseCode":"","customerVendorCode":"milissa@wuckertkertzmann.name","customerCode":"milissa@wuckertkertzmann.name","exemptNo":"","reconciled":false,"locationCode":"","reportingLocationCode":"","purchaseOrderNo":"R822513730","referenceCode":"R822513730","salespersonCode":"","totalAmount":75.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":6.0,"totalTaxable":75.0,"totalTaxCalculated":6.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"originAddressId":1,"destinationAddressId":1,"exchangeRateEffectiveDate":"2026-05-07","exchangeRate":1.0,"modifiedDate":"2026-05-07T14:39:48.013753Z","modifiedUserId":429316,"taxDate":"2026-05-07","lines":[{"id":0,"transactionId":0,"lineNumber":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","customerUsageType":"","entityUseCode":"","description":"Product
        176398","destinationAddressId":1,"originAddressId":1,"discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"itemCode":"SKU-17","lineAmount":40.0,"quantity":4.0,"ref1":"","ref2":"","reportingDate":"2026-05-07","revAccount":"","sourcing":"Origin","tax":3.2,"taxableAmount":40.0,"taxCalculated":3.2,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2026-05-07","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","stateFIPS":"42","exemptAmount":0.0,"jurisCode":"42","jurisName":"PENNSYLVANIA","jurisdictionId":49,"stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"sourcing":"Origin","tax":2.4,"taxableAmount":40.0,"taxType":"Sales","taxSubTypeId":"S","taxName":"PA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":2.4,"rateType":"General","rateTypeCode":"G","taxableUnits":40.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":40.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":2.4,"reportingTaxCalculated":2.4,"liabilityType":"Seller","chargedTo":"Buyer"},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"PA","stateFIPS":"42","exemptAmount":0.0,"jurisCode":"101","jurisName":"PHILADELPHIA","jurisdictionId":2311,"stateAssignedNo":"51","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.020000,"sourcing":"Origin","tax":0.8,"taxableAmount":40.0,"taxType":"Sales","taxSubTypeId":"S","taxName":"PA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.8,"rateType":"General","rateTypeCode":"G","taxableUnits":40.0000,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit","isNonPassThru":false,"isFee":false,"reportingTaxableUnits":40.0,"reportingNonTaxableUnits":0.0,"reportingExemptUnits":0.0,"reportingTax":0.8,"reportingTaxCalculated":0.8,"liabilityType":"Seller","chargedTo":"Buyer"}],"nonPassthroughDetails":[],"lineLocationTypes":[{"documentLineLocationTypeId":0,"documentLineId":0,"documentAddressId":1,"locationTypeCode":"ShipFrom"},{"documentLineLocationTypeId":0,"documentLineId":0,"documentAddressId":1,"locationTypeCode":"ShipTo"}],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"LI-be393e03-c530-4d31-bea7-f01b39496568","customerUsageType":"","entityUseCode":"","description":"Product
        1826","destinationAddressId":1,"originAddressId":1,"discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"itemCode":"SKU-18","lineAmount":30.0,"quantity":3.0,"ref1":"","ref2":"","reportingDate":"2026-05-07","revAccount":"","sourcing":"Origin","tax":2.4,"taxableAmount":30.0,"taxCalculated":2.4,"taxCode":"[...]
[...]
