---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R378672879","referenceCode":"R378672879","companyCode":"test1","date":"2026-05-26","customerCode":"nancie.friesen@waelchiosinski.biz","lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"NY","country":"US","postalCode":"20500"},"ShipTo":{"line1":"Invalid
        street","line2":"","city":"Invalid city","region":"PA","country":"US","postalCode":"00000"}},"taxIncluded":false,"description":"Product
        32491","itemCode":"SKU-3"},{"number":"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22","quantity":1,"amount":"5.0","taxCode":"FR","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"NY","country":"US","postalCode":"20500"},"ShipTo":{"line1":"Invalid
        street","line2":"","city":"Invalid city","region":"PA","country":"US","postalCode":"00000"}},"taxIncluded":false}],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R378672879","entityUseCode":null,"exemptionNo":null,"businessIdentificationNo":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 951345d4-2d01-4136-a6d6-b1338f60e8e1
      X-Avalara-Uid:
      - 951345d4-2d01-4136-a6d6-b1338f60e8e1
      Serverduration:
      - '00:00:00.0149737'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"GetTaxError","message":"Tax calculation cannot be
        determined. Zip is not valid for the state.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"The
        provided address contains a postal code and state combination that is not
        valid.","faultCode":"GetTaxError","faultSubCode":"InvalidZipForStateError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1];
        Line[\"LI-a844605f-e114-4933-a0cf-7a434ac83cdf\"] : PA 00000","severity":"Error"},{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"The
        provided address contains a postal code and state combination that is not
        valid.","faultCode":"GetTaxError","faultSubCode":"InvalidZipForStateError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1];
        Line[\"FR-6a9efefa-0c6c-4e63-ab43-f43f1d7b2e22\"] : PA 00000","severity":"Error"}]}}'
  recorded_at: Tue, 26 May 2026 12:35:11 GMT
[...]
