---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R324689204","referenceCode":"R324689204","companyCode":"test1","date":"2026-05-07","customerCode":"imogene@heaneyrenner.us","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"Invalid
        street","line2":"","city":"Invalid city","region":"PA","country":"US","postalCode":"00000"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{},"taxIncluded":false,"description":"Product
        1157","itemCode":"SKU-1"}],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R324689204","entityUseCode":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 183ec7bc-41e9-4cd8-ae52-44f8c682d46a
      X-Avalara-Uid:
      - 183ec7bc-41e9-4cd8-ae52-44f8c682d46a
      Serverduration:
      - '00:00:00.0009170'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"GetTaxError","message":"Tax calculation cannot be
        determined. Zip is not valid for the state.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"Tax
        calculation cannot be determined. Zip is not valid for the state.","description":"The
        provided address contains a postal code and state combination that is not
        valid.","faultCode":"GetTaxError","faultSubCode":"InvalidZipForStateError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"Addresses[1];
        Line[\"LI-a844605f-e114-4933-a0cf-7a434ac83cdf\"] : PA 00000","severity":"Error"}]}}'
  recorded_at: Thu, 07 May 2026 14:39:10 GMT
[...]
