---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesInvoice","code":"R777111000","referenceCode":"R777111000","companyCode":"test1","date":"2026-05-26","customerCode":"christine@kuphal.info","lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"NY","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Product
        19031","itemCode":"SKU-1"},{"number":"FR-5d283b07-c60e-407d-ab4f-6e408fd4dcf3","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"NY","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false}],"commit":true,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R777111000","entityUseCode":null,"exemptionNo":null,"businessIdentificationNo":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 74404278-918d-42dd-af37-379e47e0c24c
      X-Avalara-Uid:
      - 74404278-918d-42dd-af37-379e47e0c24c
      Serverduration:
      - '00:00:00.0062634'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"GetTaxError","message":"DocStatus is invalid for
        this operation.","target":"Unknown","details":[{"code":"GetTaxError","number":300,"message":"DocStatus
        is invalid for this operation.","description":"Expected Saved|Posted","faultCode":"GetTaxError","faultSubCode":"DocStatusError","helpLink":"https://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"DocStatus","severity":"Error"}]}}'
  recorded_at: Tue, 26 May 2026 11:58:46 GMT
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/test1/transactions/R777111000/adjust
    body:
      encoding: UTF-8
      string: '{"adjustmentReason":"PriceAdjusted","adjustmentDescription":"","newTransaction":{"type":"SalesInvoice","code":"R777111000","referenceCode":"R777111000","companyCode":"test1","date":"2026-05-26","customerCode":"christine@kuphal.info","lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"NY","country":"US","postalCode":"20500"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philad[...]
