---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=Philadelphia&country=US&line1=invalid%20address%20line&line2=&postalCode=19147&region=PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;19.7.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0148240'
    body:
      encoding: UTF-8
      string: '{"address":{"line1":"invalid address line","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"},"validatedAddresses":[{"addressType":"UnknownAddressType","line1":"invalid
        address line","line2":"","line3":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147","latitude":39.937562,"longitude":-75.155601}],"coordinates":{"latitude":39.937562,"longitude":-75.155601},"resolutionQuality":"NotCoded","messages":[{"summary":"An
        exact street name match could not be found","details":"An exact street name
        match could not be found and phonetically matching the street name resulted
        in either no matches or matches to more than one street name.","refersTo":"Address.Line0","severity":"Error","source":"Avalara.AvaTax.Services.Address"}]}'
  recorded_at: Fri, 20 Sep 2019 09:02:13 GMT
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R639753621","referenceCode":"R639753621","companyCode":"test1","date":"2026-04-05","customerCode":"joannie.jacobson@herzog.biz","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"invalid
        address line","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[{"number":"LI-a844605f-e114-4933-a0cf-7a434ac83cdf","quantity":1,"amount":"10.0","taxCode":"P0000000","discounted":false,"addresses":{"ShipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"PA","country":"US","postalCode":"20500"},"ShipTo":{"line1":"invalid
        address line","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"taxIncluded":false,"description":"Product
        74099","itemCode":"SKU-7"},{"number":"FR-7513abb1-f140-4fff-897a-58a9e68f5fdd","quantity":1,"amount":"100.0","taxCode":"FR","discounted":false,"addresses":{},"taxIncluded":false}],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R639753621","entityUseCode":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.3.2;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 0cc67ed6-d701-45ba-95a4-a30bb5e1f74f
      X-Avalara-Uid:
      - 0cc67ed6-d701-45ba-95a4-a30bb5e1f74f
    body:
      encoding: UTF-8
      string: '{"error":{"code":"AuthenticationException","message":"BadRequest"}}'
  recorded_at: Sun, 05 Apr 2026 12:03:39 GMT
[...]
