---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=Philadelphia&country=US&line1=822%20Reed%20St&line2=&postalCode=19147&region=PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 45bc8949-aad7-4025-8535-08efb9a82337
      X-Avalara-Uid:
      - 45bc8949-aad7-4025-8535-08efb9a82337
      Serverduration:
      - '00:00:00.0141882'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"line1":"822 Reed St","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"},"validatedAddresses":[{"addressType":"StreetOrResidentialAddress","line1":"822
        REED ST","line2":"","line3":"","city":"PHILADELPHIA","region":"PA","country":"US","postalCode":"19147-5736","latitude":39.93156,"longitude":-75.158483}],"coordinates":{"latitude":39.93156,"longitude":-75.158483},"resolutionQuality":"Intersection","taxAuthorities":[{"avalaraId":"2001060346","jurisdictionName":"UNITED
        STATES","jurisdictionType":"Country","signatureCode":"USA0"},{"avalaraId":"2001076561","jurisdictionName":"PHILADELPHIA","jurisdictionType":"City","signatureCode":"NMXX"},{"avalaraId":"2311","jurisdictionName":"PHILADELPHIA","jurisdictionType":"County","signatureCode":"BMWV"},{"avalaraId":"49","jurisdictionName":"PENNSYLVANIA","jurisdictionType":"State","signatureCode":"BKTQ"}]}'
  recorded_at: Tue, 26 May 2026 11:58:42 GMT
[...]
