---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve?city=Philadelphia&country=US&line1=invalid%20address%20line&line2=&postalCode=19147&region=PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 702e7dfa-4f2d-49f4-a635-6833f1b8c728
      X-Avalara-Uid:
      - 702e7dfa-4f2d-49f4-a635-6833f1b8c728
      Serverduration:
      - '00:00:00.0163821'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"line1":"invalid address line","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"},"validatedAddresses":[{"addressType":"UnknownAddressType","line1":"invalid
        address line","line2":"","line3":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147","latitude":39.9371,"longitude":-75.1546}],"coordinates":{"latitude":39.9371,"longitude":-75.1546},"resolutionQuality":"Intersection","messages":[{"summary":"The
        address number is out of range","details":"The address was found but the street
        number in the input address was not between the low and high range of the
        post office database.","refersTo":"Address.Line0","severity":"Error","source":"Avalara.AvaTax.Common"}]}'
  recorded_at: Tue, 26 May 2026 11:58:40 GMT
recorded_with: VCR 6.4.0
