---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 55e2a313-6e1e-45c5-b6ba-e75152a22dd3
      X-Avalara-Uid:
      - 55e2a313-6e1e-45c5-b6ba-e75152a22dd3
      Serverduration:
      - '00:00:00.0001194'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"version":"26.4.2","authenticated":true,"authenticationType":"AccountIdLicenseKey","authenticatedUserName":"AVATAX_USERNAME","authenticatedUserId":429316,"authenticatedAccountId":2000336981,"crmid":"0010b00001rp7pSAAQ"}'
  recorded_at: Mon, 11 May 2026 08:03:17 GMT
recorded_with: VCR 6.4.0
