---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - SpreebySpark;a0n0b00000PqwGxAAJ;1.9.0;RubySdk;26.5.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 644957da-a7db-4868-b9e9-8d72b902b7ce
      X-Avalara-Uid:
      - 644957da-a7db-4868-b9e9-8d72b902b7ce
      Serverduration:
      - '00:00:00.0001280'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"version":"26.6.0","authenticated":true,"authenticationType":"AccountIdLicenseKey","authenticatedUserName":"AVATAX_USERNAME","authenticatedUserId":429316,"authenticatedAccountId":2000336981,"crmid":"0010b00001rp7pSAAQ"}'
  recorded_at: Wed, 03 Jun 2026 15:02:44 GMT
recorded_with: VCR 6.4.0
