---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 3c345e3e-ea32-49c5-8b01-b3fd723a99b0
      X-Avalara-Uid:
      - 3c345e3e-ea32-49c5-8b01-b3fd723a99b0
      Serverduration:
      - '00:00:00.0026346'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"version":"26.4.2","authenticated":false,"authenticationType":"None"}'
  recorded_at: Mon, 11 May 2026 08:36:30 GMT
recorded_with: VCR 6.4.0
