---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/utilities/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Client:
      - SpreebySpark;a0n0b00000PqwGxAAJ;1.9.0;RubySdk;26.5.0;
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - c1005cff-0a94-4d9b-b621-cbbf72ab3727
      X-Avalara-Uid:
      - c1005cff-0a94-4d9b-b621-cbbf72ab3727
      Serverduration:
      - '00:00:00.0016819'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00'
      Api-Supported-Versions:
      - '2.0'
    body:
      encoding: UTF-8
      string: '{"version":"26.6.0","authenticated":false,"authenticationType":"None"}'
  recorded_at: Wed, 03 Jun 2026 15:02:43 GMT
recorded_with: VCR 6.4.0
