---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R465812990","referenceCode":"R465812990","companyCode":"test1","date":"2026-05-07","customerCode":"marg_streich@rath.name","addresses":{"ShipFrom":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"USA","postalCode":"19147"},"ShipTo":{"line1":"822
        Reed St","line2":"","city":"Philadelphia","region":"PA","country":"US","postalCode":"19147"}},"lines":[],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R465812990","entityUseCode":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - a96ecd94-f008-4b7e-bfcc-cf64cb7eae93
      X-Avalara-Uid:
      - a96ecd94-f008-4b7e-bfcc-cf64cb7eae93
      Serverduration:
      - '00:00:00.0002963'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"MissingLine","message":"Transactions must have at
        least one line.","target":"HttpRequestHeaders","details":[{"code":"MissingLine","number":311,"message":"Transactions
        must have at least one line.","description":"The CreateTransactionModel object
        must have an element called ''lines'', with at least one valid line record.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/MissingLine","severity":"Error"}]}}'
  recorded_at: Thu, 07 May 2026 13:01:42 GMT
recorded_with: VCR 6.4.0
