---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"type":"SalesOrder","code":"R476241772","referenceCode":"R476241772","companyCode":"test1","date":"2026-05-26","customerCode":"tora.stark@hermann.ca","lines":[],"commit":false,"discount":"0.0","currencyCode":"USD","purchaseOrderNo":"R476241772","entityUseCode":null,"exemptionNo":null,"businessIdentificationNo":null}'
    headers:
      X-Avalara-Client:
      - a0o0b000005HsXPAA0;Spree by Spark;RubySdk;26.4.0;
      Content-Type:
      - application/json
      Authorization:
      - "<AVATAX_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 83b9c24b-6e5b-47f4-8962-ece23387bfae
      X-Avalara-Uid:
      - 83b9c24b-6e5b-47f4-8962-ece23387bfae
      Serverduration:
      - '00:00:00.0001286'
      Api-Supported-Versions:
      - '2.0'
      X-Cip-Engine:
      - containers
      X-Cip-Site:
      - gcp_us-west3
      X-Cip-Environment:
      - sbx
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"MissingLine","message":"Transactions must have at
        least one line.","target":"HttpRequestHeaders","details":[{"code":"MissingLine","number":311,"message":"Transactions
        must have at least one line.","description":"The CreateTransactionModel object
        must have an element called ''lines'', with at least one valid line record.","faultCode":"Client","helpLink":"https://developer.avalara.com/avatax/errors/MissingLine","severity":"Error"}]}}'
  recorded_at: Tue, 26 May 2026 11:59:34 GMT
recorded_with: VCR 6.4.0
